{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}

<h1 class="text-center my-3">Bienvenue à bord</h1>
<p class="text-center my-1">Location de voiture 24h/24 et 7j/7</p>
{% endblock %}
